# JetBrains/VS Code IDE specific
.idea/
.vscode/*
!.vscode/settings.json
!.vscode/launch.json

# Python bytecode and compiled files
__pycache__/
*.py[cod]
*$py.class

# Build and distribution artifacts
/build/
/dist/
*.spec

# Virtual Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Project Specific Files to Ignore

# The user's local data file. This should NEVER be committed.
Backend/data/

# The user's generated CSV export files.
/Exports/

# Log files
*.log

# Python Packaging & Installation Directories
develop-eggs/
eggs/
.eggs/
sdist/
wheels/
*.egg-info/
.installed.cfg
*.egg