pandas         
numpy          
scipy          
scikit-learn   


matplotlib     
seaborn       
plotly         
cufflinks      

requests       
beautifulsoup4 
yfinance      

fastapi
uvicorn[standard] 

transformers
torch
sentence-transformers
tensorflow
keras

jupyterlab     
ipython        
tqdm           
python-dotenv  